# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite Databases
*.db
*.sqlite3
test_database.db

# Environment variables
.env

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
